[submodule "third_party/media-sdk"]
	path = third_party/media-sdk
	url = https://github.com/ireader/sdk
[submodule "third_party/media-avcodec"]
	path = third_party/media-avcodec
	url = https://github.com/ireader/avcodec
[submodule "third_party/media-server"]
	path = third_party/media-server
	url = https://github.com/ireader/media-server
